@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
  display: flex;
  position: relative;
  font-family: 'Roboto', sans-serif;
  /* justify-content: center; */
  justify-content: center;
  /* align-items: center;   */
  /* margin: 0px; */
}


* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.floatingelement {
  /* text-align: center; */
  /* margin: 0px; */
  width: 350px;
  padding: 30px;
  height: 200px; /* Should be removed. Only for demonstration */
  border-radius: 15px;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);  */
	box-shadow:
		0 1px 2px rgba(0,0,0,0.07), 
		0 2px 4px rgba(0,0,0,0.07), 
		0 4px 8px rgba(0,0,0,0.07), 
		0 8px 16px rgba(0,0,0,0.07),
		0 16px 32px rgba(0,0,0,0.07), 
		0 32px 64px rgba(0,0,0,0.07);
}

.satoshibalance{
  position: relative;
  left: 60px;
  top: 10px;

}

.settingsicon{
  position: relative;
  left: 275px;
  bottom: 162px;
}

.inputforms{
  position: absolute;
  top: 130px;

}

.inputforms2{
  position: absolute;
  top: 60px;
  /* display: none; */
}

.sendtoken{
  position: relative;
  top: -10px;

}
.tokeninfo{
  position: absolute;
  left: 110px; 
  top: 5px
}

.wrapper{
  position: absolute;
  width: 350px;
}

.tokenname{
  position: relative;
  top: -5px;
  left: 0px;

}


.qr{
  position: absolute;
  top: 60px;
  left: 550;
}

.qrshift{
  position: relative;
  left: 0px;
  top: -15px;
}

.emoji {
  position: relative;
  left: 0px;
  height: 26px;
  width: 26px;
}

.bsvreception {
/* color: red; */
position: absolute;
font-size: small;
top: 65px;
left: -5px;
}

.receptionshift{
  position: relative;
  left: 5px;
  top: -50px;
}

.button-4 {
  text-decoration:none;
  position: relative;
  left: 130px;
  align-items: flex-end;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.buttonshift{
  position: relative;
  left: 97.5px;
}

.buttonshift2{
  position: absolute;
  top: 89px;
}

.buttonshift3{
  position: absolute;
  top: 76px;
  left: 97;
}

.buttonshift4{
  position: relative;
  top: -10px;
  left: 23;
}

.buttonshift5{
  position: relative;
  top: 97.5px;
  left: 97;
}

.buttonshift6{
  position: relative;
  top: -30px;
  left: 35px;
}

.tickshift{
  position: relative;
  top: -45px;
  left: 70;
}
.settings{
  position: relative;
}
.seedphrase{
  position: absolute;
  left: 220px;
  color: grey;
  top: -14px;
}

.dropdowns{
  position: absolute;
  left: 10px;
}



.bottommenu{
  color: grey;
}

.tokenwidth{
   max-width: 350px;  
  /* font-size: smaller; */

}


.sentconfirmation{

  position: relative;
  left: 60px;
}

.seedformat{
position: relative;
top: 200px;
  

}